<div class="dashboard">

  <h1>Parque de Dinosaurios</h1>


     //no poner nombre del parque. Para la moneda moneda.coin


  <p>Monedas acumuladas: <span>{{ moneda }}</span>
  <img id="moneda" src="/images/moneda.png" alt="Moneda" /></p>


  <button (click)="AumentoMoneda()">Hacer Click y Ganar Monedas</button>

  <h2>Dinosaurios Disponibles</h2>
  <div *ngIf="dino.length">
    <div *ngFor="let d of dino" class="dino-card">
      <h3>{{ d.name }}</h3>
      <p>Nombre científico: {{d.scientificName}}</p>
      <p>Precio: {{ d.cost }} monedas</p>
      <p>Id Requerido: {{d.requiredRecintoId}}</p>
      <img src={{d.image}}>
      <button>Comprar</button>
    </div>

  </div>


  <h2>Recintos Disponibles</h2>
  <div *ngIf="recinto.length">
    <div *ngFor="let r of recinto" class="recinto-card">
      <h3>{{ r.name }}</h3>
      <p>Capacidad: {{ r.description }}</p>
      <p>Precio: {{ r.cost }} monedas</p>
      <img src={{r.image}}>
      <button>Comprar</button>
    </div>
  </div>
</div>

