.dashboard {
  text-align: center;
  margin: 20px;
}

.dino-card, .recinto-card {
  border: 1px solid #d66868;
  padding: 10px;
  margin: 10px;
  border-radius: 8px;
  display: inline-block;
  width: 200px;

}

button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 8px;
}

button:hover {
  background-color: #45a049;
}
#moneda{
  width: 20%;
  height: 20%;

}

.dino-card img, .recinto-card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}
